<table class="table">
	<thead>
		<th>Created At</th>
		<th>Message</th>
		<th>Important</th>
	</thead>
	<tbody>
		<% @messages.each do |message| %>
			<tr>
				<td><%= message.created_at %></td>
				<td><%= message.text %></td>
				<td><%= message.important %></td>
			</tr>
		<% end %>
	</tbody>
</table>